
<div id='list_meta' data-total="<%=total%>" data-limit="<%=limit%>"></div>
 <% for(let comment of rows){ 
 %>
<div class="comment">
<p> <%-comment.body%></p>
<div class="meta">
  <span type="button" class="btn btn-xs ">
  <span class="glyphicon glyphicon-user"></span> <%=comment.author_name%>
</span>
<span type="button" class="btn btn-xs ">
  <span class="glyphicon glyphicon-time"></span> <%=comment.date.toLocaleString().substring(5,15)%>
</span>
</div> 
</div>
<% }  %>

