<!DOCTYPE html>
<html>
  <head>
    <title>宣城宠物领养</title>
      
      <%include js_css.ejs%>
     <!-- 富文本编辑器 -->
  <link rel="stylesheet" type="text/css" href="/summernote-0.8.4/summernote.css">
  <script src="/summernote-0.8.4/summernote.min.js"></script>
  <!-- 富文本编辑器引入中文提示 -->
  <script src="/summernote-0.8.4/lang/summernote-zh-CN.js"></script>
  </head>
  <body>

    <% include header.ejs%>
  <div class="container-fluid header_doc">
    <div class="container">
      <h4>single</h4>
      <p></p>
    </div>
    </div>


    <div class="container content">

    <div class="row">
      <div class="col-md-9">
       <div class="row">
      <article data-id="<%=article._id%>" >
        <h3><%=article.title%></h3>
        <div class="meta">
          作者:<%=article.author_name%> <br>
          时间:<%=article.date.toLocaleString().substring(0,15)%> <br>
          人气:<%=article.viewcount%> <br>
        </div>
        <content>
        <p><%=article.body%>
        </p></content>

        <% if(article.images){ for(let i of article.images) {%>
        <img class="tieziimg col-md-6" src="/remote/images/<%=i%>" alt="图片">
        <% }} %>
      </article>
</div>

      <div class="comments" id="comments">    
    </div>

      <ul class="pagination" id="pagination2"></ul>



    <div class="">

      <div id="summernote"></div>
      <%if(session.user){%>
      <button id="send" class="btn btn-primary btn-block">回复</button>
      <%} else {%>
      
      <% }%>
    </div>
      <!-- comments -->
    
      </div>
      <div class="col-md-3 ">
       
      </div>


    </div> <!--  row -->
    </div> <!-- content -->

    <script>

    var total;
     var limit;
    $(function(){
        var id=$('article').data('id');
       $('#comments').load('/article/single/'+id+'/1',null,function(){
         total=$('#list_meta').data("total");
        limit=$('#list_meta').data('limit');
        $.jqPaginator('#pagination2', {
        totalPages: Math.ceil(total/limit),
        visiblePages: 7,
        currentPage: 1,
        pageSize:limit,
        prev: '<li class="prev"><a href="javascript:;">&laquo;</a></li>',
        next: '<li class="next"><a href="javascript:;">&raquo;</a></li>',
        page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
        onPageChange: function (num, type) {
            $.ajax({
              url: '/article/single/'+id+'/'+num,
              type: 'get',
              dataType:'html',
              data: {page: num,date:Date.now()},
              success:function(data){
               // alert(data)
                $('#comments').html(data);
              },
              error:function(err){
              }
            });       
        }
    });
       });
    });


   



      $(function(){
       $('#summernote').summernote({
        height: 100,                 // set editor height
        minHeight: null,             // set minimum height of editor
        maxHeight: null,             // 
        lang: 'zh-CN',
        toolbar:[
        ['color',['color']],
        ['style',['bold','italic','underline']],
        ['para',['ul','ol']]
        
        ]
       });
     });

      $('#send').click(function(){
        var markupStr = $('#summernote').summernote('code');
        if($.trim(markupStr).length<=0){
          alert('没有内容');
          return;
        }
        var data={
          aid:$('article').data('id'),
          body:markupStr
        }
        $.ajax({
          url: '/article/addc',
          type:'POST',
          dataType:'text',
          data: data,
          success:function(data){
            if(data){
              window.location.reload();
            }
          },
          error:function(e){
          }
        })
        
        
      })
    </script>
    <style type="text/css">
    article p{
      text-indent: 2em;
      word-wrap: break-word;
      font-size: 18px;
    }
    article{
      padding: 0 10px;
    }
      .comment{
        position: relative;
        top: 0px;
        left: 0px;
        margin:5px 0;
        padding: 5px 0px;
        border-top: 1px solid #eee;
      }
      .comment p{
        padding-left:5px; 
        text-indent: 2em;
        width: 80%;
        word-wrap: break-word;
       
      }
      .comment .meta{
        position: absolute;
       
        right: 0px;
        bottom: 0px ;
       opacity: 0.5;

      }
      .tieziimg{
        float:left;
        max-width: 250px;
        max-height: 250px;
      }
    </style>
    <%include footer.ejs%>
  </body>
</html>
